*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --black: #000;
    --white: #fff;
}

body{
background-color: var(--black);
color:var(--white);
}

section{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width:80%;
    min-height: 100vh;
}

.title{
    margin: 2rem ;
    font-size: 2rem;
}

.faq{
    border-bottom: solid 1px white;
    padding-bottom: 2rem;
    margin-top: 2rem;
    width:700px;
    cursor: pointer;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom:1.5rem;
}

.question h3{
    font-size: 1.5rem;
}

.answer p{
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
    padding-top: 1rem;
    font-size: 1.2rem;
}

.answer{
    max-height: 0;
    overflow: hidden;
    transition:  max-height .6s ease-out;
}

.faq.active .answer{
    max-height: 300px;
}



@media(max-width:500px){

    .faq{
        width:250px;
    }
}


@media(width:540px){    /* surface Duo*/
    .faq{
        width:400px;
    }
}